.io {
  color: black;
  background-color: rgb(235, 4, 4);
  width: 100%;
  height: 100%;
}

.kleiderbuegel {
  height: 25px;
  margin-left: -210px;
  cursor: pointer;
  vertical-align: middle; /* Hinzugefügte Eigenschaft */ /* auf gleicher höhe */
  margin-top: 19.4%;
}
.start-text {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  justify-content: end;
  line-height: 1.25;
  min-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 220px;
  font-family: 'Montserrat';
  margin-top: 20%;
  margin-left: 20%;
}


.start-text:hover,
.start-text:focus {
border-color: rgba(0, 0, 0, 0.15);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
color: rgba(0, 0, 0, 0.65);
} 

.start-text:hover {
  transform: translateY(-1px);
}

.start-text:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgb(204, 204, 204);
  width: 380px;
  font-family: 'Montserrat';
  font-weight: 400;
  position: relative; /* Hinzufügen der Positionierung für das Schließen-Symbol */margin-top: 10%;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

.ueberschrift {
  cursor: default;
  margin-left: 1%;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}

.closex-backarrow {
  margin-top: 1%;
  display: flex;
  cursor: pointer;
}

#backarrow {
  height: 25px;
  margin-left: 5px;
}

#closex {
  height: 20px;
  margin-top: 2px;
  margin-left: 320px;
}

span1 {
  cursor: pointer;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.powered-by {
  cursor: default;
  margin-top: 85%;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}